$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$colors: (
		primary: #833ab4,
		primary-rgb: (131, 58, 180),
		secondary: #fcb045,
		secondary-rgb: (252, 176, 69),
		secondary-l-25: lighten(#fcb045, 25),
		black: #000000,
		white: #ffffff,
		lightgrey: #e8e8e8
);
$colors-darkMode: (
);


.dark-mode {
  @each $color, $value in $colors-darkMode {
	--#{''+$color} : #{$value};
  }
}

@each $color, $value in $colors {
  .color-#{''+$color} {
	color: #{$value};
  }
  .bg-#{''+$color}, .bg-color-#{''+$color} {
	background-color: #{$value} !important;
  }
}

:root {
  @each $color, $value in $colors {
	--#{''+$color} : #{$value};
  }
}


$transition: all .25s ease;

$border-radius: 2rem;

.border-radius{
  border-radius: $border-radius;
}

$navbar-breakpoint: $lg;
