.popUp {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all .25s ease;
  z-index: 9999999999;

  &--active {
	opacity: 1;
	pointer-events: all;
  }

  &__inner {
	display: none;
	background: var(--white);
	padding: 70px 20px 40px 20px;
	z-index: 2;
	opacity: 0;
	position: relative;
	overflow-x: hidden;
	transform: translateY(15px);
	transition: all .25s ease;
	max-height: calc(100% - 20px);

	@media screen and (min-width: $sm) {
	  padding: 70px 40px 40px 40px;
	}

	&--active {
	  opacity: 1;
	  transform: translateY(0px);
	}

	.social {
	  display: flex;
	  flex-direction: column;

	  .wrapper {
		margin-bottom: 40px;
		display: flex;
		align-items: center;

		&:last-child {
		  margin-bottom: 0;
		}

		.social__item {
		  margin-right: 15px;

		}
	  }
	}

	&#iframe {
	  width: 100%;
	  //padding-top: 56.25%;
	  height: 90vh;
	  position: relative;

	  iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	  }
	}

	.popUp__close{
	  background: white;
	  top: 0;
	  right: 0;
	}


  }

  &__close {
	width: 30px;
	height: 30px;
	padding-top: 12px;
	//background: url('../images/icon/cross.svg');
	line-height: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-size: 50px;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
  }

  &__overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	pointer-events: none;
	transition: all .25s ease;

	&--active {
	  opacity: 1;
	  pointer-events: all;
	}
  }
}
